@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&family=Lobster+Two&family=Noto+Serif+Display:wght@200;400&family=Parisienne&family=Poppins&family=Radley&family=Roboto+Slab&display=swap');

.title {font-family: 'Roboto Slab', serif; font-weight: bold; color: #8C40AF}

h2 {font-family: 'Roboto Slab', serif; font-weight: bold}

h3 {font-family: 'Roboto Slab', serif; font-weight: bold}

body {font-family: 'Roboto Slab', serif}

#navbar {background-color: #8C40AF}

.container {background-color: #8C40AF}